.nav-tabs{
    border-bottom: 0;
    margin-bottom: 8px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    background-color: #03438c;
    color: #fff;
    border-radius: 20px;
}

.nav-item :hover {
  cursor: pointer;
  outline: none; 
}

.nav-link{
  
}